* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, dl, ol, ul, p,
button, input, select, textarea {
  margin: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block; }

h1 {
  font-size: 2rem;
  line-height: 1.25;
  margin: 1rem 0; }

h2 {
  font-size: 1.625rem;
  line-height: 1.25;
  margin: 1rem 0; }

h3 {
  font-size: 1.325rem;
  margin: 1rem 0; }

p {
  margin: 1rem 0; }

h4, h5, h6, dl, ol, ul, p {
  font-size: 1.125rem; }

html, body {
  height: 100%; }

body {
  position: relative;
  background-color: #fff;
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Varela Round', sans-serif;
  color: #363636;
  -webkit-font-smoothing: subpixel-antialiased; }
  @media screen and (max-width: 769px) {
    body {
      font-size: 18px; } }

a {
  color: #6dbf9d;
  text-decoration: none; }

.container {
  *zoom: 1;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

header {
  text-align: center;
  position: relative;
  width: 100%;
  background-color: #6ec8a3;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6ec8a3), color-stop(100%, #6dbf9d));
  background-image: -webkit-linear-gradient(#6ec8a3, #6dbf9d);
  background-image: linear-gradient(#6ec8a3, #6dbf9d); }
  @media screen and (max-width: 769px) {
    header {
      text-align: left; } }

.Logo {
  margin: 0;
  font-size: 1.125rem; }

.Logo a {
  font-size: 2.25em;
  color: #fff;
  text-shadow: 0 3px 1px #56a182; }
  @media screen and (max-width: 769px) {
    .Logo a {
      font-size: 2em; } }

footer a, footer p {
  font-size: 1rem; }

.meta {
  font-size: 1rem;
  font-style: italic; }

.Menu-trigger {
  height: 27px;
  width: 40px;
  margin: 34px 0;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 20px; }
  @media screen and (max-width: 769px) {
    .Menu-trigger {
      height: 27px;
      width: 34px;
      margin: 33px 0; } }
  .Menu-trigger span {
    height: 5px;
    width: 40px;
    margin: 5px 0 0;
    display: block;
    background: #fff;
    -webkit-box-shadow: 0 3px 2px -1px #56a182;
    -moz-box-shadow: 0 3px 2px -1px #56a182;
    box-shadow: 0 3px 2px -1px #56a182;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; }
    .Menu-trigger span:first-child {
      margin: 0; }
    @media screen and (max-width: 769px) {
      .Menu-trigger span {
        height: 4px;
        width: 34px; } }

.Body h1 {
  font-size: 1.75em; }

.Entry-title a {
  color: #363636; }

.MainNav {
  position: fixed;
  background: #eae9e7;
  width: 280px;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 0;
  padding: 20px; }
  .MainNav a {
    color: #363636;
    display: block;
    margin: 0 0 1em; }

.GlobalHolder {
  z-index: 1;
  position: relative;
  min-height: 100%;
  background: #fff;
  -webkit-transition: -webkit-transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -ms-transition: -webkit-transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: -webkit-transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: -webkit-transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: -webkit-transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -webkit-transition: transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -ms-transition: transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -webkit-transition: -moz-transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -ms-transition: -moz-transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: -moz-transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: -moz-transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: -moz-transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -webkit-transition: -o-transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -ms-transition: -o-transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: -o-transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: -o-transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: -o-transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -webkit-transition: -ms-transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -ms-transition: -ms-transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: -ms-transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: -ms-transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: -ms-transform 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1); }

.is-pushedLeft .GlobalHolder {
  -webkit-transform: translate3d(-280px, 0, 0);
  -moz-transform: translate3d(-280px, 0, 0);
  transform: translate3d(-280px, 0, 0);
  -o-transform: translate3d(-280px, 0, 0); }
