* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.5em; }

header, .SiteBody, footer {
  *zoom: 1;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto; }
  header:before, header:after, .SiteBody:before, .SiteBody:after, footer:before, footer:after {
    content: " ";
    display: table; }
  header:after, .SiteBody:after, footer:after {
    clear: both; }
  @media screen and (min-width: 320px) and (max-width: 700px) {
    header, .SiteBody, footer {
      max-width: 92%; } }

.SiteBody {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 1rem; }

.SiteBody img {
  max-width: 100%; }

footer {
  margin: 1.5rem auto;
  text-align: center; }

a {
  text-decoration: none;
  color: #333;
  padding: 0 0 1px;
  border-bottom: 1px solid #d9d9d9;
  -webkit-transition: border 0.3s ease;
  -moz-transition: border 0.3s ease;
  transition: border 0.3s ease; }
  a:hover {
    border-bottom: 1px solid #FB8671; }

nav > ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  nav > ul li {
    float: left;
    margin-left: 1.25em; }
    nav > ul li:first-child {
      margin: 0; }

.SiteHeader {
  margin-top: 2em;
  margin-bottom: 2em; }
  .SiteHeader h1 {
    font-weight: 200;
    text-transform: uppercase;
    margin: 0;
    float: left; }
    .SiteHeader h1 a {
      border: none;
      padding: 0; }
  .SiteHeader nav {
    font-size: 1.0625em;
    float: right;
    line-height: 1.5em;
    text-transform: uppercase;
    font-weight: 400; }

.Entry-cta {
  margin: 0 0 1rem;
  display: inline-block; }

.Entry-follow {
  vertical-align: middle;
  margin: 0 0 2px 0.1875em; }
