* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#mc_embed_signup h2 {
  margin: 0; }
#mc_embed_signup .indicates-required {
  color: tomato;
  font-size: 0.875em; }
#mc_embed_signup .mc-field-group {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #mc_embed_signup .mc-field-group:before, #mc_embed_signup .mc-field-group:after {
    content: " ";
    display: table; }
  #mc_embed_signup .mc-field-group:after {
    clear: both; }
  #mc_embed_signup .mc-field-group label {
    display: block;
    margin-top: 0.5em; }
  #mc_embed_signup .mc-field-group input {
    padding: 5px;
    width: 100%; }
#mc_embed_signup .button {
  background: #3498db;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 1em;
  padding: 10px; }

body {
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  margin: 0;
  padding: 0; }

header, .SiteBody, footer {
  *zoom: 1;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto; }
  header:before, header:after, .SiteBody:before, .SiteBody:after, footer:before, footer:after {
    content: " ";
    display: table; }
  header:after, .SiteBody:after, footer:after {
    clear: both; }
  @media screen and (max-width: 700px) {
    header, .SiteBody, footer {
      max-width: 92%; } }

.SiteBody {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 1rem; }

.SiteBody img {
  max-width: 100%; }

footer {
  margin: 1.5rem auto;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em; }

a {
  border-bottom: 1px solid #d9d9d9;
  color: #333;
  text-decoration: none;
  -webkit-transition: border 0.3s ease;
  -moz-transition: border 0.3s ease;
  transition: border 0.3s ease; }
  a:hover {
    border-bottom: 1px solid tomato; }

nav > ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  nav > ul li {
    float: left;
    margin-left: 1.25em; }
    nav > ul li:first-child {
      margin: 0; }

.SiteHeader {
  margin-top: 2em;
  margin-bottom: 2em; }
  @media screen and (min-width: 320px) and (max-width: 700px) {
    .SiteHeader {
      margin-top: 0;
      max-width: 100%;
      text-align: center; } }
  .SiteHeader h1 {
    font-weight: 200;
    float: left;
    margin: 0;
    text-transform: uppercase; }
    @media screen and (min-width: 320px) and (max-width: 700px) {
      .SiteHeader h1 {
        display: inline-block;
        float: none; } }
    .SiteHeader h1 a {
      border: none;
      padding: 0; }
  .SiteHeader nav {
    float: right;
    font-size: 1.0625em;
    font-weight: 400;
    line-height: 2.5em;
    text-transform: uppercase; }
    @media screen and (max-width: 700px) {
      .SiteHeader nav {
        background: #5e5e5e;
        display: block;
        float: none;
        height: 0;
        line-height: 1.5em;
        overflow: hidden;
        text-align: center;
        width: 100%;
        -webkit-transition: height 0.7s ease;
        -moz-transition: height 0.7s ease;
        transition: height 0.7s ease; }
        .SiteHeader nav ul {
          list-style: none;
          margin: 0;
          padding: 0; }
        .SiteHeader nav ul li {
          margin: 0;
          width: 100%; }
        .SiteHeader nav ul a {
          border: none;
          color: #fff;
          display: block;
          padding: 10px; } }

.SiteHeader.is-open .trigger {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg); }
  .SiteHeader.is-open .trigger:before {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  .SiteHeader.is-open .trigger:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

.SiteHeader.is-open nav {
  height: 96px; }

.SiteHeader .trigger {
  display: none;
  margin: 2em auto;
  border: 1px solid #333;
  position: relative;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  width: 41px;
  height: 41px;
  -webkit-transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  @media screen and (max-width: 700px) {
    .SiteHeader .trigger {
      display: block; } }
  .SiteHeader .trigger:before {
    content: '';
    background: #333;
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    top: 19px;
    left: 6px;
    width: 27px;
    height: 1px;
    -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .SiteHeader .trigger:after {
    content: '';
    background: #333;
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 50%;
    width: 1px;
    height: 27px;
    -webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.Entry-cta {
  display: inline-block;
  margin: 0 0 1rem; }

.Entry-follow {
  margin: 0 0 2px 0.1875em;
  vertical-align: middle; }

.About-profile {
  display: block;
  margin: 0 auto 1rem;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%; }

article form {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin: 2rem 0;
  padding: 1rem 0; }

.twitter-share-button {
  display: inline-block;
  vertical-align: middle; }

.button {
  background: #fff;
  border: 3px solid #3498db;
  color: #3498db;
  display: inline-block;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  width: 100%;
  -webkit-transition: background 0.4s ease;
  -moz-transition: background 0.4s ease;
  transition: background 0.4s ease; }
  .button:hover {
    background: #eaf4fb;
    border: 3px solid #3498db; }
