@import 'bourbon/bourbon';
@import 'neat/neat';

$max-width: 600px;

body{
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: em(24);
}

header, .SiteBody, footer{
  @include outer-container;
  @include media(min-width 320px max-width 700px) {
    max-width: 92%;
  }
}

.SiteBody{
  border-bottom: 1px solid lighten(#333, 65%);
  padding-bottom: 1rem;
}

.SiteBody img{
  max-width: 100%;
}

footer{
  margin: 1.5rem auto;
  text-align: center;
}

h1,h2,h3,h4,h5,h6{
  line-height: 1.5em;
}

a{
  text-decoration: none;
  color: #333;
  padding: 0 0 1px;
  border-bottom: 1px solid lighten(#333, 65%);
  @include transition(border 0.3s ease);
  &:hover{
    border-bottom: 1px solid #FB8671;
  }
}

nav > ul{
  list-style: none;
  margin: 0;
  padding: 0;
  li{
    float: left;
    margin-left: em(20);
    &:first-child{
      margin: 0;
    }
  }
}

.SiteHeader{
  margin-top: 2em;
  margin-bottom: 2em;
  @include media(min-width 320px max-width 700px) {
    text-align: center;
    margin-top: 0;
    max-width: 100%;
  }
  h1{
    font-weight: 200;
    text-transform: uppercase;
    margin: 0;
    float: left;
    @include media(min-width 320px max-width 700px) {
      float: none;
      display: inline-block;
    }
    a{
      border: none;
      padding: 0;
    }
  }
  nav{
    font-size: em(17);
    float: right;
    line-height: em(24);
    text-transform: uppercase;
    font-weight: 400;
    @include media(min-width 320px max-width 700px) {
      display: block;
      height: 0;
      float: none;
      overflow: hidden;
      width: 100%;
      text-align: center;
      background: #5e5e5e;
      @include transition(height 0.7s ease);
      ul{
        margin: 0;
        padding: 0;
        list-style: none;
      }
      ul li{
        width: 100%;
        margin: 0;
      }
      ul a{
        display: block;
        border: none;
        padding: 10px;
        color: #fff;
      }
    }
  }
}

.SiteHeader.is-open .trigger{
  @include transform(rotate(225deg));
  &:before{
    @include transform(rotate(135deg));
  }
  &:after{
    @include transform(rotate(45deg));
  }
}

.SiteHeader.is-open nav{
  height: 96px;
}

.SiteHeader .trigger{
  height: 41px;
  width: 41px;
  display: none;
  margin: 2em auto;
  border: 1px solid #333;
  position: relative;
  @include border-top-radius(100%);
  @include border-bottom-radius(100%);
  @include transition(all 0.7s $ease-in-out-back);
  @include media(min-width 320px max-width 700px) {
    display: block;
  }
  &:before{
    content: '';
    height: 1px;
    width: 27px;
    background: #333;
    top: 19px;
    margin: 0 auto;
    left: 6px;
    position: absolute;
    display: inline-block;
    @include transition(all 0.4s $ease-in-out-back);
  }
  &:after{
    content: '';
    width: 1px;
    height: 27px;
    background: #333;
    position: absolute;
    display: inline-block;
    left: 50%; /* Position fix by @halfzebra - http://codepen.io/halfzebra/ */
    top: 6px;
    @include transition(all 0.4s $ease-in-out-back);
  }
}

.Entry-cta{
  margin: 0 0 1rem;
  display: inline-block;
}

.Entry-follow{
  vertical-align: middle;
  margin: 0 0 2px em(3);
}

.About-profile{
  display: block;
  margin: 0 auto 1rem;
  @include border-top-radius(100%);
  @include border-bottom-radius(100%);
}

article form{
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin: 2rem 0;
  padding: 1rem 0;
}

.twitter-share-button{
  display: inline-block;
  vertical-align: middle;
}