@import 'bourbon/bourbon';
@import 'neat/neat';

$max-width: 600px;

body{
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: em(24);
  margin: 0;
  padding: 0;
}

header, .SiteBody, footer{
  @include outer-container;
  @include media(min-width 320px max-width 700px) {
    max-width: 92%;
  }
}

.SiteBody{
  border-bottom: 1px solid lighten(#333, 65%);
  padding-bottom: 1rem;
}

.SiteBody img{
  max-width: 100%;
}

footer{
  margin: 1.5rem auto;
  text-align: center;
}

h1,h2,h3,h4,h5,h6{
  line-height: 1.5em;
}

a{
  border-bottom: 1px solid lighten(#333, 65%);
  color: #333;
  padding: 0 0 1px;
  text-decoration: none;
  @include transition(border 0.3s ease);
  &:hover{
    border-bottom: 1px solid #FB8671;
  }
}

nav > ul{
  list-style: none;
  margin: 0;
  padding: 0;
  li{
    float: left;
    margin-left: em(20);
    &:first-child{
      margin: 0;
    }
  }
}

.SiteHeader{
  margin-top: 2em;
  margin-bottom: 2em;
  @include media(min-width 320px max-width 700px) {
    margin-top: 0;
    max-width: 100%;
    text-align: center;
  }
  h1{
    font-weight: 200;
    float: left;
    margin: 0;
    text-transform: uppercase;
    @include media(min-width 320px max-width 700px) {
      display: inline-block;
      float: none;
    }
    a{
      border: none;
      padding: 0;
    }
  }
  nav{
    float: right;
    font-size: em(17);
    font-weight: 400;
    line-height: em(40);
    text-transform: uppercase;
    @include media(min-width 320px max-width 700px) {
      background: #5e5e5e;
      display: block;
      float: none;
      height: 0;
      line-height: em(24);
      overflow: hidden;
      text-align: center;
      width: 100%;
      @include transition(height 0.7s ease);
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
      }
      ul li{
        margin: 0;
        width: 100%;
      }
      ul a{
        border: none;
        color: #fff;
        display: block;
        padding: 10px;
      }
    }
  }
}

.SiteHeader.is-open .trigger{
  @include transform(rotate(225deg));
  &:before{
    @include transform(rotate(135deg));
  }
  &:after{
    @include transform(rotate(45deg));
  }
}

.SiteHeader.is-open nav{
  height: 96px;
}

.SiteHeader .trigger{
  display: none;
  margin: 2em auto;
  border: 1px solid #333;
  position: relative;
  @include border-top-radius(100%);
  @include border-bottom-radius(100%);
  @include size(41px);
  @include transition(all 0.7s $ease-in-out-back);
  @include media(min-width 320px max-width 700px) {
    display: block;
  }
  &:before{
    content: '';
    background: #333;
    display: inline-block;
    margin: 0 auto;
    @include position(absolute, 19px 0 0 6px);
    @include size(27px 1px);
    @include transition(all 0.4s $ease-in-out-back);
  }
  &:after{
    content: '';
    background: #333;
    display: inline-block;
    @include position(absolute, 6px 0 0 50%);
    @include size(1px 27px);
    @include transition(all 0.4s $ease-in-out-back);
  }
}

.Entry-cta{
  display: inline-block;
  margin: 0 0 1rem;
}

.Entry-follow{
  margin: 0 0 2px em(3);
  vertical-align: middle;
}

.About-profile{
  display: block;
  margin: 0 auto 1rem;
  @include border-top-radius(100%);
  @include border-bottom-radius(100%);
}

article form{
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin: 2rem 0;
  padding: 1rem 0;
}

.twitter-share-button{
  display: inline-block;
  vertical-align: middle;
}
