$green: #62bc94;

a{
  color: $green;
  text-decoration: none;
  @include transition(color ease 0.5s);
  &:hover{
    color: darken($green, 15%);
  }
}

.highlight, pre{
  margin-bottom: 1rem;
}

blockquote{
  border-left: 1px solid $gray;
  margin: 0 1rem 1rem;
  padding: 0.25rem 1rem;
  font-style: italic;
  p:last-child{
    margin: 0;
  }
}

pre{
  overflow-x: scroll;
}

ul li{
  margin-top: 1rem;
  &:first-child{
    margin-top: 0;
  }
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea{
  border: 1px solid $gray;
  font-size: 1em;
  box-shadow: none;
  transition: none; 
  outline: none;
  &:focus{
    border: 1px solid $green;
    box-shadow: none;
    outline: none;
  }
}

.button--greenAlt{
  background: $white;
  border: 1px solid $green;
  color: $green;
  cursor: pointer;
  font-weight: 500;
  &:hover{
    background: $green;
    color: $white;
  }
}

.button--medium{
  font-size: 1em;
  padding: 0.5em 1em;
}