body{
	font-family: $georgia;
	font-weight: 400;
}

::selection{
	background: $green;
	color: #fff;
}

.serif{
	font-family: $georgia;
}

.sans-serif{
	font-family: 'Avenir Next', $helvetica;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	font-family: 'Avenir Next', $helvetica;
}