$sans-serif: "Source Sans Pro", sans-serif;
$serif: "Bitter", serif;

body{
  color: $black;
  font-family: $serif;
  font-weight: 400;
}

.sans-serif{
  font-family: $sans-serif;
}

.serif{
  font-family: $serif;
}
