<footer class="container--medium px1 mb2 SiteFooter">
    
    <div class="mb1">{{ site.description }}</div>
    <div>This site was made with <a href="https://github.com/michaellee/chicken">Chicken</a> &amp; <a href="https://github.com/michaellee/waffles">Waffles</a></div>
    <div>&copy; 2013 - 2014 <a href="{{site.url}}">Michael Lee</a> / <a href="https://twitter.com/hellomichaellee">Twitter</a> / <a href="http://codepen.io/michaellee/">CodePen</a> / <a href="https://github.com/michaellee">Github</a></div>

</footer>
