<aside class="SiteSidebar align--left sans-serif pr1">
	<div class="Profile mb1">
		<img src="https://dl.dropboxusercontent.com/u/1228961/michaellee/us.jpeg" alt="" class="circle">
	</div>
	<h2 class="h4 mb0">Michael Lee</h2>
	<p>I make meaningful digital &amp; analog things &mdash; that includes apps, paper goods &amp; articles for people.</p>
	<div class="SiteSidebar-networks my2" style="font-weight: 600;">
		Twitter: <a href="https://twitter.com/hellomichaellee" class="twitter-link">@hellomichaellee</a>
		CodePen: <a href="http://codepen.io/michaellee/" class="codepen-link">michaellee</a>
	</div>
</aside>