<aside class="SiteSidebar align--left sans-serif pr1">
	<div class="Profile mb1">
		<img src="https://dl.dropboxusercontent.com/u/1228961/michaellee/us.jpeg" alt="" class="circle">
	</div>
	<h2 class="h4 mb0">Michael Lee</h2>
	<p>I make meaningful digital &amp; analog things &mdash; that includes apps, paper goods &amp; articles for people.</p>
	<div class="SiteSidebar-networks my2" style="font-weight: 600;">
		Twitter: <a href="">@hellomichaellee</a>
		CodePen: <a href="">michaellee</a>
	</div>
	<div class="SiteSidebar-emailSignUp">
		<h5 class="mb0">Newsletter</h5>
		<p>Sign up for a newsletter on programming, creativity &amp; life.</p>
    <form accept-charset="UTF-8" action="https://madmimi.com/signups/subscribe/115179" id="mad_mimi_signup_form" method="post" target="_blank">
			<div style="margin:0;padding:0;display:inline">
			<input name="utf8" type="hidden" value="✓"/>
			<input name="authenticity_token" type="hidden" value="cuE0+UTEiEE6MBa8SF8TejQaxR/xfJkjWcsitS7D6Q0="/>
			</div>
			<div class="mimi_field required mb1">
			<input id="signup_name" name="signup[name]" type="text" data-required-field="This field is required" placeholder="name"/>
			</div>
			<div class="mimi_field required mb1">
			<input id="signup_email" name="signup[email]" type="text" data-required-field="This field is required" placeholder="email"/>
			</div>
			<div>
			<input type="submit" class="submit button--greenAlt button--medium" value="Subscribe" id="webform_submit_button" data-default-text="Subscribe" data-submitting-text="Sending..." data-invalid-text="↑ You forgot some required fields" data-choose-list="↑ Choose a list">
			</input>
			</div>
    </form>
	</div>
</aside>