<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://michaellee.us8.list-manage1.com/subscribe/post?u=422c1b21489291886235136cc&amp;id=56abddec2a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<h2>Sign up for my Free Live Webinar</h2>
  <div id="subscribeFormWelcome">You'll learn how to build a basic personal website using HTML &amp; CSS in this free live webinar.
</div>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_422c1b21489291886235136cc_56abddec2a" value=""></div>
	<div class="clear"><input type="submit" value="Sign Up for Free Webinar" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
