.SiteContent{
  padding: 0 1rem;
  @include span-columns(12 of 12);
  @include omega();
  @include media($tablet){
    @include span-columns(10 of 12);
    @include shift(1);
  }
  @include media($desktop){
    @include span-columns(6 of 12);
  }
  p{
    font-size: 1.3rem;
    margin-bottom: 1.625rem;
    @include media($tablet){
      font-size: 1.425rem;
    }
    @include media($desktop){
      font-size: 1.5rem;
    }
  }
  ul{
    font-size: 1.3rem;
    @include media($tablet){
      font-size: 1.425rem;
    }
    @include media($desktop){
      font-size: 1.5rem;
    }
    list-style: circle;
  }
  article{
    border-bottom: 1px solid $gray;
    margin-bottom: 3rem;
    padding-bottom: 1.25rem;
  }
  article header{
    a:not(.external){
      border-bottom: none;
    }
    .external{
      display: inline;
    }
    .Permalink{
      color: $gray;
      display: inline-block;
      line-height: 2.75rem;
      margin-left: 0.325rem;
      vertical-align: top;
    }
  }
  img{
    max-width: 100%;
  }
}

.Pagination{
}

.SiteArticle-meta{
  color: #B1B9B6;
}
