.SiteContent{
  padding: 0 1.5rem;
  @include span-columns(12 of 12);
  @include omega();
  @include media($desktop){
    @include span-columns(6 of 12);
  }
  p{
    font-size: rem(24);
    margin-bottom: 1.75rem;
  }
  article{
    border-bottom: 1px solid $gray;
    margin-bottom: 3rem;
    padding-bottom: 1.25rem;
  }
  article header{
    a:not(.external){
      border-bottom: none;
    }
    .external{
      display: inline;
    }
    .Permalink{
      color: $gray;
      display: inline-block;
      line-height: 2.75rem;
      margin-left: 0.325rem;
      vertical-align: top;
    }
  }
  img{
    max-width: 100%;
  }
}

.Pagination{
}