.SiteHeader{
  padding-left: 1rem;
  padding-right: 1rem;
  @include span-columns(12 of 12);
  @include omega();
  @include media($tablet){
    @include span-columns(10 of 12);
    @include shift(1);
  }
  @include media($desktop){
    @include span-columns(6 of 12);
    @include shift(3);
  }
  .Brand{
    @include media($desktop){
      float: left;
    }
  }
  .menu{
    float: right;
    a{
      color: #B1B9B6;
      font-family: 'Avenir Next', $helvetica, sans-serif;
      font-weight: 500;
      line-height: 35px;
      &:hover{
        color: $green;
      }
    }
  }
}