---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
  </header>

  {{ content }}

  <p class="small gray">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

</article>
<p>Follow along: <a href="https://twitter.com/hellomichaellee" class="gray">Twitter</a> / <a href="http://eepurl.com/-zz01" class="gray">Email</a> / <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="gray">RSS</a></p>
