---
layout: default
---
<article class="post">

  <header class="post-header">
    
    {% if page.link %}
    <h1><a href="{{ page.link }}">{{ page.title }}</a></h1>
    {% else %}
    <h1>{{ page.title }}</h1>
    {% endif %}
    <div class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</div>
  </header>

  {{ content }}

  {% if page.comments %}
    {% for comment in page.comments %}
      {{ comment.email }}
    {% endfor %}
  {% endif %}

  {% if page.previous %}
  <p class="small">Previous post: <a href="{{page.previous.url}}">{{page.previous.title}}</a></p>
  {% endif %}
  {% if page.next %}
  <p class="small">Next post: <a href="{{page.next.url}}">{{page.next.title}}</a></p>
  {% endif %}

</article>
<p>Follow along: <a href="https://twitter.com/hellomichaellee" class="gray">Twitter</a> / <a href="http://eepurl.com/-zz01" class="gray">Email</a> / <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="gray">RSS</a></p>
