<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HTML/CSS Ribbon for the Web</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/ribbon-styles.css" }}">
    <link rel="stylesheet" href="{{ "/css/ribbon.css" }}">
  </head>

    <body>
    <a href="https://github.com/michaellee/ribbon" class="ribbon--left" target="_blank">Fork me on GitHub</a>
    <section class="centerer align--center">
      <h1>HTML/CSS Ribbon</h1>
      <p>Don't let a ribbon get in the way of great content on your site.</p>
      <span>by <a href="http://michaellee.co">Michael Lee</a></span>
    </section>
		
		{% include analytics.html %}

    </body>
</html>